<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/${POSTGRES_DB}</property>
        <property name="hibernate.connection.username">${POSTGRES_USER}</property>
        <property name="hibernate.connection.password">${POSTGRES_PASSWORD}</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="ua.yourname.model.Publisher" />
        <mapping class="ua.yourname.model.Book" />
        <mapping class="ua.yourname.model.Client" />
        <mapping class="ua.yourname.model.Author" />
        <mapping class="ua.yourname.model.Genre" />
        <mapping class="ua.yourname.model.AuthorBook" />
        <mapping class="ua.yourname.model.GenreBook" />
        <mapping class="ua.yourname.model.Checkout" />

    </session-factory>
</hibernate-configuration>